<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="/speedpasselement/"> SP+ Admin Tools </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Language Table <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/speedpasselement/displayTextTranslation">Display Text Translation</a></li>
          <li><a href="/speedpasselement/displayTextTranslationHistory">Display Text Translation History</a></li>
          <li><a href="/speedpasselement/supportedLanguage">Supported Language</a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/errorMessage">Error Message</a></li>
          <li><a href="/speedpasselement/faq">FAQ</a></li>
          <li><a href="/speedpasselement/feedbackQuestion">Feedback Question</a></li>
          <li><a href="/speedpasselement/uiMessage">UI Message</a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/errorMessageTypeCode">Error Message Type Code</a></li>
          <li><a href="/speedpasselement/faqTypeCode">FAQ Type Code</a></li>
          <li><a href="/speedpasselement/feedbackQuestionTypeCode">Feedback Question Type Code</a></li>
          <li><a href="/speedpasselement/uiMessageTypeCode">UI Message Type Code</a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/promo"> Promos </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> User Tables <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/speedpasselement/logonGroupAssociation"> Logon Group Association </a></li>
          <li><a href="/speedpasselement/pageable#groupDetail"> Group Detail </a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/pageable#userAdditionalAttribute"> User Additional Attribute </a></li>
          <li><a href="/speedpasselement/userContactInformation"> User Contact Information </a></li>
          <li><a href="/speedpasselement/userDetail"> User Detail </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Merchant Tables <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/speedpasselement/pageable#paymentType">Payment Type</a></li>
          <li><a href="/speedpasselement/productCategory"> Product Category </a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/merchantToken">Merchant Token</a></li>
          <li><a href="/speedpasselement/serviceMerchant"> Service Merchant </a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/loyaltyProgramType"> Loyalty Program Type </a></li>
          <li><a href="/speedpasselement/loyaltyType"> Loyalty Type </a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/partnerAdditionalAttribute"> Partner Additional Attributes </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Location Tables <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/speedpasselement/pageable#businessEntity">Business Entity</a></li>
          <li><a href="/speedpasselement/pageable#countryCode">Country Code</a></li>
          <li><a href="/speedpasselement/pageable#countryAdditionalAttribute"> Country Additional Attribute </a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/pageable#siteDetail">Site Detail</a></li>
          <li><a href="/speedpasselement/pageable#siteDemographic">Site Demographic</a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/merchantToken">Merchant Token</a></li>
          <li><a href="/speedpasselement/serviceMerchant"> Service Merchant </a></li>
          <li class="divider"></li>
          <li><a href="/speedpasselement/pageable#storeApplicationConfiguration"> Store Application Configuration </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Metadata Tools <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/speedpasselement/"> Upload CSV </a></li>
          <li><a href="/speedpasselement/languageMetadatum"> Metadata Tool</a></li>
          <li><a href="/speedpasselement/languageDataVerification"> Verification Tool</a></li>
        </ul>
      </li>
      <li><a href="/speedpasselement/pageable">Grid View</a></li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
